@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}
h2{
	font-family: "Playfair Display", serif;
}
.swiper-button-next{
  margin-right:25px !important;
}
.swiper-button-prev{
  margin-left:25px !important;
}
.swiper-button-prev:after, .swiper-button-next:after{
  color: #383838 !important;
  content: '';
}

/* Google Translate Styles */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

.goog-te-gadget {
  display: none !important;
}

#google_translate_element {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}

iframe.skiptranslate {
  display: none !important;
}
